body{
    background-image: url("bg.jpg");
}
.header{
    display: flex;
    
    font-size: medium;
    font-style: oblique;
    font-weight: 500;
}

.top-left{
    font-family: fantasy;
    font-weight: bold;
    font-size: large;
    
}
.top-right{
    display: flex;
    margin-left: 900px;
    transition:0.3s ease-in-out;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.top-tight:hover{
    
    color:  blue;
    
}
.home{
    padding: 15px;
    
}
.service{
    padding: 15px;
    
}
.about{
    padding: 15px;
    
}
.contact{
    padding: 15px;
    
}
.phone{
    width: 280px;
    height: 280px;
    margin-left: 10px;
}
.airpods{
    width: 280px;
    height: 280px;
    margin-left: 50px;
}
.watch{
    width: 280px;
    height: 280px;
    margin-left: 50px;
}
.shirt{
    width: 280px;
    height: 280px;
    margin-left: 50px;
}
.img{
    margin-top: 40px;
}
.center{
    display: flex;
}
.money{
    display: flex;
    color: green;
    font-weight: bold;
}
.center{
    justify-content: space-around;
}
.mob{
    margin-top: 50px;
    margin-left: -80px
    
}
.name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.star{
    color: yellow;
    stroke: 2px solid black;
    
}
.btn{
    color:grey;
    padding:5px;
    transition:0.3s ease-in-out;
}
.btn:hover{
    color:blue;
}
.b1{
    margin-top: 20px;
}
